@import "tailwindcss";

/* Tailwind v4 custom dark variant */
@custom-variant dark (&:where(.dark, .dark *));

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: Inter, "Segoe UI", sans-serif;
  background-color: #f8fafc;
  transition: background-color 0.3s ease;
}

html.dark body {
  background-color: #020617;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 999px;
}

html.dark ::-webkit-scrollbar-thumb {
  background: #475569;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

html.dark ::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}

input,
textarea,
select,
button {
  transition: all 0.2s ease;
}
/* Calendar icon */

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  opacity: 0.9;
  filter: invert(0);
}

.dark input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}